@model PeopleViewModel

@{
    ViewData["Title"] = "Writer List";
}

<div class="container">

    <div>
        <h5>Add new writer:</h5>
        <form method="post" asp-action="CreatePerson" asp-controller="Home">
            <input type="text" name="Name" placeholder="Name">
            <input type="text" name="NumberOfBooks" placeholder="Number of books">
            <input type="text" name="City" placeholder="City">
            <input type="submit" value="Add">
        </form>
    </div>
    <br />

<form method="post" asp-action="Index" asp-controller="Home">
    <div class="search-form">
        <input type="text" name="search" placeholder="Search">
        <input type="submit" value="Search">
    </div>
</form>
<br />

<br />

    <div class="row">
        <div class="col-4">ID</div>
        <div class="col-2">Name</div>
        <div class="col-1">City</div>
        <div class="col-1">Number of books</div>
        <div class="col-4"></div>
    </div>


    @foreach (var person in Model.tempList)
    {


        <div class="row">
            <partial name="~/Views/Shared/_PeopleDetailsPartial.cshtml" model="person" />
            
        </div>
    }


</div>

