@model PeopleViewModel

@{
    ViewData["Title"] = "Writer List";
}



<form method="post" action="@Url.ActionLink("Index", "Home")">
    <div class="search-form">
        <input type="text" name="search" placeholder="Search">
        <input type="submit" value="Search">
    </div>
</form>
<br />

<div class="text-center">
    <h5>Add New writer:</h5>
    <form method="post" action="@Url.ActionLink("CreatePerson", "Home")">
        <input type="text" name="Name" placeholder="Name">
        <input type="text" name="NumberOfBooks" placeholder="Number of books">
        <input type="text" name="City" placeholder="City">
        <input type="submit" value="Add">
    </form>
</div>

<br />
<div class="container">
<div class="row">
    <p class="col">Name</p>
    <p class="col">City</p>
    <p class="col">Number of books</p>
    <p class="col">ID</p>

</div>
</div>

@foreach (var person in Model.tempList)
{

   
<div class="col">
 <partial name="~/Views/Shared/_PeopleDetailsPartial.cshtml" model="person" />

        <p class="col"><a asp-action="Delete" asp-controller="Home" asp-route-id=@person.Id class="btn btn-danger">Delete</a></p>
       
   </div>   

}
<br />
<div class="text-center">
    <h5>Add new writer:</h5>
    <form method="post" action="@Url.ActionLink("CreatePerson", "Home")">
        <input type="text" name="Name" placeholder="Name">
        <input type="text" name="NumberOfBooks" placeholder="Number of books">
        <input type="text" name="City" placeholder="City">
        <input type="submit" value="Add">
    </form>
</div>



