@model CountryViewModel

@{
    ViewData["Title"] = "Country";
}

<form asp-action="Edit" method="post">
    <label asp-for="CountryName"></label>
    <input asp-for="CountryName" />
    <input type="hidden" asp-for="CountryId" value="@Model.CountryId">
    <input type="submit" value="Add" class="btn btn-primary">
</form>
