@model PersonViewModel

@{
    ViewData["Title"] = "Home";
}


<form asp-action="Edit" method="post">
    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <span asp-validation-for="Name"></span>
   <label asp-for="NumberOfBooks"></label>
   <input asp-for="NumberOfBooks" />
   <span asp-validation-for="NumberOfBooks"></span>
    <select asp-for="CityId" id="selectlist" name="CityId" asp-items="@ViewBag.Cities"></select>
    <span asp-validation-for="CityId"></span>
    <input type="submit" value="Add" class="btn btn-primary">

</form>