@model PersonLanguage
@{
    ViewData["Title"] = "Add language to person";
}

<h2>@ViewBag.Title</h2>

<form asp-controller="PersonLanguage" asp-action="Index" method="post">

    <label asp-for="Id" class="left"></label>
    <select asp-for="Id" asp-items="@ViewBag.PeopleList"></select>
    <label class="left"></label>
    <span asp-validation-for="Id" class="validation"></span>

    <label asp-for="LanguageId" class="left"></label>
    <select asp-for="LanguageId" asp-items="@ViewBag.LanguageList"></select>
    <label class="left"></label>
    <span asp-validation-for="LanguageId" class="validation"></span>

    <label class="left">&nbsp;</label>
    <input type="submit" value="Add language to person" class="create" />

</form>