@model Person;

 
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>@Model.Name</p>

                </div>
                <div class="col">
                    <p>@Model.City</p>
                </div>
                <div class="col">
                    <p>@Model.NumberOfBooks</p>
                </div>
                <div class="col">
                <p>@Model.Id</p>
            </div>
            <div class="col">
                <a asp-action="Delete" asp-rout-id=@Model.Id type="submit" class="btn btn-danger">Delete</a>
           </div>
        </div>
    </div>

