
@*@model ViewModel;

@foreach (var person in Model.tempList)
{
    <div>
        <div class="col">
            <h3>@person.Name</h3>

        </div>
        <div class="col">
            <h3>@person.Id</h3>
            </div>
    </div>

}*@
