@model CityViewModel

@{
    ViewData["Title"] = "City";
}


<form asp-action="Edit" method="post">
    <label asp-for="CityName"></label>
    <input asp-for="CityName" />
    <select asp-for="CountryId" id="selectlist" name="CountryId" asp-items="@ViewBag.Countries"></select>
    <input type="hidden" asp-for="CityId">
    <input type="hidden" asp-for="CountryId">
    <input type="submit" value="Add" class="btn btn-primary">
</form>

