@model List<City>
@{
    ViewData["Title"] = "Cities";
}
<h3>List of Cities</h3>
<table class="table">
    <thead>
        <tr>
            <th>City Id</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>
